__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/
.eggs/
*.egg
.env
*.db
*.sqlite3
instance/
.webassets-cache
htmlcov/
.coverage
.pytest_cache/
.mypy_cache/
*.log
.DS_Store
migrations/versions/__pycache__/
